<ion-view view-title="{{ 'mm.settings.poweredby' | translate }}" >
    <ion-content mm-state-class>
        <ul class="list">
<a class="item item-avatar">
      <img src="../img/hayaco.png">
      <h2>شرکت تحلیلگران سامانه های هوشمند هایا</h2>
	  <p>شماره ثبت: 14901</p>
    </a>		
            <li class="item item-divider">
                <p>درباره</p>
            </li>
            <li class="item item-text-wrap">
                <h2>وب سایت:</h2><p><a href="http://www.hayaco.ir" mm-link>http://www.hayaco.ir</a></p>
            </li>
            <li class="item item-text-wrap">
                <p>آدرس: رشت، خیابان امام خمینی، میدان حشمت، مرکز رشد واحدهای فناور</p>
				<p>تلفن تماس: 33322814-013</p>
            </li>
        </ul>
    </ion-content>
</ion-view>